<section>
    <div class="flex bg-stone-700">
        <img src="/images/Kc0iayYpn_340x340__1.jpg" alt="presiduende" class="w-[84%]">
        <div class="flex flex-col justify-center items-center text-center">
            <h1 class="text-white text-4xl mb-4 font-serif">Bienvenidos a Casa Robada:
            </h1>
            <p class="text-slate-300 font-serif text-lg p-5"> Adéntrate en el mundo distópico donde la narrativa no es cercana a la realidad, en un mar de incertidumbre y con un Mandatario completamente enajenado. Nuestros héroes y antihéroes tendrán que demostrar que la patria sí se vende, solo que al mejor postor. Prepárate para enfrentamientos inimaginables. </p>
        </div>
    </div>
</section>