<footer class="sticky w-full h-24 bg-gradient-to-r from-slate-900 to-sky-950 border-b border-slate-700 text-white  font-serif text-xl flex items-center justify-center mt-auto">
    <p class="text-center">&copy; Modulo 3 - Sprint 4 and Trabajo Practico Number 1 - by Ktta - 2024</p>
  </footer>
  



