<nav class="stroke-lime-700">
    <div class="navbar">
        <a href="/">
            <img src="/images/logo.png" alt="Logo" class="logo">
        </a>
    </div>
  <ul>
    <li>
        <a href="/api/heroes">
        Grande De Muzza
        </a>
   </li>
    <li>
        <a href="/api/view/agregar">
        Agregar Heroes
        </a>
   </li>
   <li>
    <a href="/api/heroes/lista">
    Lista de SuperHeroes
    </a>
</li>
  </ul>
</nav>